<div class="header">
    <div class="ui-g">
        <div class="ui-g-2" style="padding: 0px; width: 20%">
            <a id="logo" href="">
                <img alt="logo" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
                <span>测试案例</span>
            </a>
        </div>
        <div class="ui-g-10" style="padding: 0px;width: 80%" id="nav">
            <div class="ui-g">
                <div class="ui-g-10" style="padding: 0px;">

                </div>
                <div class="ui-g-1 " style="padding: 0px;">
                    <div class="z-header-menu-item">
                        <a [routerLink]="['/rxjs']" routerLinkActive="z-header-menu-item-active">Rxjs</a>
                    </div>
                </div>
                <div class="ui-g-1"  style="padding: 0px;">
                    <div class="z-header-menu-item">
                        <a [routerLink]="['/angular2']" routerLinkActive="z-header-menu-item-active">Angular2</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
